<!-- Ho ho ho -->
<ul>
  <li><a href="/about"><img src="/images/home.png" alt="home" width="28" height="31"></a></li>
  <li><a href="/"><img src="/images/code.png" alt="code" width="25" height="28"></a></li>
</ul>

