<!-- Widget: Topbar -->
<div class="topbar">
  <img src="/images/list.png" class="run" alt="Run" />
  <code>untitled.js</code>
</div>

<!-- Widget: Editor -->
<div id="editor">
function fn(callback, arg) {
  callback();
}
</div>

<!-- Widget: Terminal -->
<div id="terminal-container"></div>
