<!-- Widget: Topbar -->
<div class="topbar">
  <div class="run">
    <img src="/images/play.png" class="run" alt="Run" />
    <p>run</p>
    <code>[Ctrl-R]</code>
  </div>
</div>

<!-- Widget: Editor -->
<div id="editor">
function fn(callback) {

  var request = require('request');
  request('http://myhostname.net', {
    'headers': { 'user-agent': 'curl' }
  }, function (error, response, body) {
    callback(null, body);
  })

}
</div>

<!-- Widget: Terminal -->
<div id="terminal-container"></div>
