<!-- Widget: Topbar -->
<div class="topbar">
  <img src="/images/list.png" class="run" alt="Run" />
  <code>untitled.js</code>
</div>

<!-- Widget: Editor -->
<div id="editor">
function fn(callback) {

  var request = require('request');
  request('http://myhostname.net', {
    'headers': { 'user-agent': 'curl' }
  }, function (error, response, body) {
    callback(null, body);
  })

}
</div>

<!-- Widget: Terminal -->
<div id="terminal-container"></div>
