<header>
    <img src="/images/nodedrop.png" alt="nodedrop">
</header>

<!-- Widget: LeftMenu -->
<div class="left-menu">
  <ul>
    <li><img src="/images/home.png" alt="home" width="28" height="31"></li>
    <li><img src="/images/code.png" alt="code" width="25" height="28"></li>
  </ul>
</div>

<!-- Widget: Main -->
<div class="main">

  <!-- Widget: Topbar -->
  <div class="topbar">
    <img src="/images/list.png" alt="list" name="list" title="list"/>
    <code>filename.js</code>
  </div>

  <!-- Widget: Editor -->
  <div class="editor">
    <code>ACE editor goes here</code>
  </div>

  <!-- Widget: Terminal -->
  <div class="terminal">
    <h2>Run!</h2>
  </div>

</div>

  <!--<div class="right">
    Middle
  </div>-->

  <!--
  <div id="filemenu"><img src="/images/list.png" alt="list" width="16" height="11" name="list" title="list"><h3>Filename.js</h3></div>
  <div id="right">
    <div class="menu">Search</div>
  </div>
-->
