<header>
    <img src="/images/nod.png" alt="nod" width="105" height="45">
</header>

<div class="main">

  <div id="left">
    <ul>
      <li><img src="/images/home.png" alt="home" width="28" height="31"></li>
      <li><img src="/images/code.png" alt="code" width="25" height="28"></li>
    </ul>
  </div>
  <div id="main">
    <code>Code goes here...</code>
  </div>
  <div id="filemenu"><img src="/images/list.png" alt="list" width="16" height="11" name="list" title="list"><h3>Filename.js</h3></div>
  <div id="terminal"><h2>run</h2></div>
  <div id="right">
    <div class="menu">Search</div>
  </div>

</div>
