// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

header-height = 100px

header
  background: #4a4a4a
  width: 100%
  height: header-height
  top: 0px
  left: 0px
  right: 0px
  text-align: center
  z-index: 1000

header img
  margin-top: 20px

width-left = 80px

// Should be: 230px
width-right = 0

/* Main stylesheets */
.left-menu, .main
  background-color: #aaa
  top: header-height
  position: absolute
  bottom: 0

.main
  left: width-left
  right: width-right
  overflow: hidden

.left-menu
  width: width-left
  left: 0

/* Widget: LeftMenu stylesheet */
.left-menu
  background-color: #90b36b

  ul
    list-style: none
    margin: 0px
    padding: 0px

    li
      text-align: center
      padding-top: 28px
      padding-bottom: 5px

/* Widget: Main stylesheet */
.main
  background-color: #f0f0f0

  .topbar
    padding: 5px
    color: #fff
    background-color: #8a8a8a
    height: 30px

  .editor
    padding: 30px
    height: 100%

  .terminal
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background-color: #2a2a2a
    height: 70px

    h2
      text-align: center
      color: #fff
      letter-spacing: 0.1em
