// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

header-height = 100px

header
  background: #4a4a4a
  width: 100%
  height: header-height
  top: 0px
  left: 0px
  right: 0px
  text-align: center
  z-index: 1000

header img
  margin-top: 20px

width-left = 80px

// Should be: 230px
width-right = 0

/* Main stylesheets */
.leftmenu, #main-container
  background-color: #aaa
  top: header-height
  position: absolute
  bottom: 0

#main-container
  left: width-left
  right: width-right
  overflow: hidden

.leftmenu
  width: width-left
  left: 0

