// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

header-height = 100px

header
  background: #4a4a4a
  width: 100%
  height: header-height
  top: 0px
  left: 0px
  right: 0px
  text-align: center
  z-index: 1000

header img
  margin-top: 20px

width-left = 80px

// Should be: 230px
width-right = 0

.left, .right, .middle
  background-color: #aaa
  top: header-height
  position: absolute
  bottom: 0

.left
  background-color: #90b36b
  width: width-left
  left: 0

  ul
    list-style: none
    margin: 0px
    padding: 0px

    li
      text-align: center
      padding-top: 28px
      padding-bottom: 5px

.right
  width: width-right
  right: 0

.middle
  left: width-left
  right: width-right
  background-color: #f0f0f0
  overflow: hidden

  .topbar
    padding: 5px
    color: #fff
    background-color: #8a8a8a
    height: 30px

  .editor
    padding: 30px
    height: 100%

  .terminal
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background-color: #2a2a2a
    height: 70px

    h2
      text-align: center
      color: #fff
      letter-spacing: 0.1em


#left
  top: header-height

  left: 0px
  width: 80px
  bottom: 0px
  background-color: #90b36b
  z-index: 200

  ul
    width: 80px
    list-style: none
    margin: 0px
    padding: 0px

    li
      width: 80px
      text-align: center
      padding-top: 28px
      padding-bottom: 5px

#main
  background-color: #f0f0f0
  margin-left: 90px
  margin-right: 250px
  width: auto
  height: 4000px
  margin-top: 198px

#filemenu
  top: header-height
  background-color: #8a8a8a
  left: 80px
  right: 240px
  height: 38px

  img
    padding-left: 13px
    padding-top: 13px
    margin-right: 13px
    float: left

  h3
    margin: 0px
    padding: 0px
    color: #fff
    font-weight: normal
    padding-top: 5px


#terminal
  background-color: #2a2a2a
  bottom: 0px
  left: 80px
  right: 240px
  height: 80px
  z-index: 150

  h2
    text-align: center
    color: #fff
    letter-spacing: 0.1em

#right
  width: 240px
  top: header-height
  right: 0px
  height: 100%
  background-color: #ebece9

  .menu
    width: 230px
    height: 28px
    background-color: #8a8a8a
    padding-left: 10px
    padding-top: 10px
    color: #fff
    border-left: 1px #b6b6b6 solid
