@import 'nib'
.main
  background-color: #f0f0f0

  .topbar
    padding: 5px
    color: #fff
    background-color: #8a8a8a
    height: 30px

  #editor
    padding: 30px
    height: 100%

  .terminal
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background-color: #2a2a2a
    height: 70px
    z-index: 99999

    .run
      cursor: pointer
      text-align: center
      color: #fff
      letter-spacing: 0.1em

